<div class="login-view-container">

    <mat-card class="login-card">
        <mat-card-title>Вход для участников</mat-card-title>

        <mat-card-content>
                    <mat-form-field class="login-form-field login-email">
                        <input matInput
                               name="emailInput"
                               placeholder="Email"
                               [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field class="login-form-field login-password">
                        <input matInput
                               name="passwordInput"
                               type="password"
                               placeholder="Пароль"
                               [(ngModel)]="password">
                    </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="onLogin($event)">Войти</button>
            <br/>
            <button mat-button routerLink="signup">У меня еще нет аккаунта</button>
        </mat-card-actions>
    </mat-card>
</div>
