.login-view-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

.login-card.mat-card {

    box-shadow: none;
}

.login-form-field {
    width: 100%;
}

