<div class="login-view-container">

    <mat-card class="login-card">
        <mat-card-title>Вход для участников</mat-card-title>

        <mat-card-content>
                    <mat-form-field style="margin-top: 20px" class="login-form-field login-email">
                        <input matInput
                               name="emailInput"
                               placeholder="Email"
                               [(ngModel)]="email">
                    </mat-form-field>
                    <mat-form-field  style="margin-bottom: 20px" class="login-form-field login-password">
                        <input matInput
                               name="passwordInput"
                               type="password"
                               placeholder="Пароль"
                               [(ngModel)]="password">
                    </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="centered-buttons">
            <button mat-flat-button color="accent" (click)="onLogin($event)">Войти</button>
            <button mat-button (click)="onNoAccountClicked($event)" id="noAccountLink">Еще не зарегистрированы?</button>
        </mat-card-actions>
    </mat-card>
</div>
