.signup-view-container {

    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

.signup-card.mat-card {

    box-shadow: none;
}

.signup-form-field {
    width: 400px;
}

#hasAccountLink {

    margin-top: 20px;
}
