
<div class="centered-item-container separated-vertical-block">
    <span class="block-title">Регистрация</span>
</div>

<div class="centered-item-container separated-vertical-block">

    <mat-form-field class="signup-form-field signup-quickname centered-item">
        <input matInput
               placeholder="Имя"
               [(ngModel)]="quickname">
    </mat-form-field>

    <mat-form-field class="signup-form-field signup-email centered-item">
        <input matInput
               placeholder="Email"
               [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="signup-form-field signup-password centered-item">
        <input matInput
               type="password"
               placeholder="Пароль"
               [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field class="signup-form-field signup-password-twice centered-item">
        <input matInput
               type="password"
               placeholder="Пароль еще раз"
               [(ngModel)]="passwordTwice">
    </mat-form-field>
</div>

<div class="centered-item-container separated-vertical-block">

    <button mat-flat-button class="centered-item" color="accent" (click)="onSignup($event)">Зарегистрироваться</button>
    <button mat-button class="centered-item" (click)="onHasAccountClicked($event)" id="hasAccountLink">Уже зарегистрированы?</button>
</div>



