@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {

    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

body {

    min-height: 100vh;

    display: grid;

    grid-template-columns: 0 100% 0;
    grid-template-rows: auto;
    grid-template-areas:
            ". application-area .";

}

@media only screen and (min-width: 768px) {

    body {

        grid-template-columns: auto 700px auto;
    }
}

router-outlet {
    display: none;
}

.separated-vertical-block {

    margin-top: 30px;
}

.centered-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-title {

    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.standard-form-field {

    width: 80%;
    max-width: 300px;
}

@media only screen and (min-width: 768px) {

    .standard-form-field {

        max-width: 400px;
    }
}
