@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {

    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

body {

    min-height: 100vh;

    display: grid;

    grid-template-columns: 0 auto 0;
    grid-template-rows: auto;
    grid-template-areas:
            ". application-area .";

}

@media only screen and (min-width: 768px) {

    body {

        grid-template-columns: 25% auto 25%;
    }
}

router-outlet {
    display: none;
}

.separated-vertical-block {

    margin-top: 30px;
}

.centered-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-title {

    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
