.assignment-container {

    box-shadow: none;
}

.code {

    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;

    background-color: white;
    color: white;

    padding: 10px;
}
