.code-snippet {
    font-family: monospace;
    font-size: 10px;
    font-weight: 400;
    white-space: pre-wrap;
    display: block;
    unicode-bidi: embed;

    background-color: midnightblue;
    color: white;

    padding: 10px;

    grid-area: pre-area;
    overflow: auto;
}

@media only screen and (min-width: 768px) {

    .code-snippet {
        font-size: 14px;
        font-weight: 400;
    }
}

.assignment-divider {
    margin-top: 20px;
    margin-bottom: 0;
}

.text-block {
    margin-bottom: 5px;
}

.assignment-title {

    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 100%;
}

.pre-holder {

    margin-top: 10px;
    width: 100%;

    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: auto;
    grid-template-areas:
            ". pre-area ."
}
