<div class="centered-item-container separated-vertical-block">
    <div class="assignment-title">
        Задача {{assignment.index}}
    </div>
    <div class="text-block" *ngIf="assignment.problem.introduction">{{assignment.problem.introduction}}</div>
    <div class="text-block">{{assignment.problem.question}}</div>
    <div class="pre-holder assignment-problem-snippets" *ngIf="assignment.problem.snippets">
        <div *ngFor="let snippet of assignment.problem.snippets" class="code-snippet">{{snippet.content}}</div>
    </div>
    <app-option-group [problemWithSolution]="assignment" [assignmentIndex]="assignment.index" [workbookId]="workbookId" [classified]="classified"></app-option-group>
</div>
<hr *ngIf="!last" class="assignment-divider"/>
