.login-view-container {

    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

.login-card.mat-card {

    box-shadow: none;
}

.login-form-field {
    width: 400px;
}

#noAccountLink {

    margin-top: 20px;
}

.reg-text.mat-card-content {

    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
