<div class="login-view-container">

    <mat-card class="login-card">

        <mat-card-content class="reg-text centered-buttons">
            <div class="reg-text">Ваша учетная запись успешно создана! <p>Пожалуйста дождитесь письма на указанный Вами при регистрации почтовый адрес и перейдите по вложенной ссылке.</p></div>
        </mat-card-content>

        <mat-card-actions class="centered-buttons">
            <button mat-button (click)="onGotoLogin($event)" id="noAccountLink">Вернуться назад к форме входа</button>
        </mat-card-actions>
    </mat-card>
</div>
